@font-face{
    font-family: 'busong';
    src: url('./本墨钧宋.ttf');
}
.home{
    // background: url('./timg.jpg') no-repeat;
    .h-txt{
        margin-top: 20px;
        font-family: 'busong';
        color: red;
        cursor: pointer;
    }
    img {
        width: 100px;
        height: 100px;
    }
}

// 下边这个会被CSS tree shaking 过滤掉哦，是不是很神奇
.mm{
    background: red;
}